

.modal-overlay {
  z-index: 1100;
  position: fixed;
  top: 195px;
  left: 35vw;
  width: 404px;
  height: 222px;
  background: rgba(125, 131, 154, 0.5);
  display: flex;
  padding: 16px;
  border: solid 1px white;
  border-radius: 32px;
  align-items: center;
  justify-content: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  width: 95%;
  border-radius: 16px;
  background: rgb(57 70 82);
  align-items: center;
  height: 95%;
}
.modal-tittle{
  padding: 0px;
  background: rgb(57 70 82);
}
.modal-header,
.modal-footer {
  color: wheat;
  background: rgb(57 70 82);
 
}
.modal-header{
  
  padding: 11px;

}

.modal-body { 
  margin-bottom: 49px;
  width: 95%;
  background: rgb(57 70 82);
  height: 16px;
  align-items: center;
  color: wheat;
}
.modal-footer{
  font-size: 0.7rem;

}
input{
  color: black;
  font-weight: 500;
  padding-left: 10px;
  background: rgb(217, 226, 248);
  font-size: 1.4rem;
}
button{
  margin: 3px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 1rem;
  font-weight: 600;
  background: rgb(217, 226, 248);
  color: black;
  border-radius: 12px;
 
}
#submit {
  visibility: hidden;
}
#delete{
  visibility: visible;
}
button:hover{
  cursor: pointer;
    background: rgb(254, 254, 254);
    color :rgb(64, 70, 94);
    font-weight: 600;
    // font-size: 1rem;
  }